*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
.gradle/
local.properties
.idea/
*.log
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.gradle-kotlin-dsl/
.gradle/shared-cache/
.gradle/test-results/
.gradle/build-cache/
.gradle/vcs-*/
.gradle/gradle-daemon-jvm.properties
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
*.wps
*.lock
*.iml
.idea/
*.iws
*.ipr
/.idea/
/.idea/deploymentTargetDropDown.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/vcs.xml
